<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0D9C4EE8-3869-498B-9854-2B65880D88B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F859874-4D58-47FE-9716-D97FDB8F0832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>692101B6-6C97-459C-B00D-71877FF7870E</key>
		<array/>
		<key>C9DC0261-9267-4E0D-B467-D4C429A6D84A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>692101B6-6C97-459C-B00D-71877FF7870E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Geektool</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>nerd</string>
				<key>subtext</key>
				<string>Reposition Geeklets</string>
				<key>text</key>
				<string>Geeklets</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9DC0261-9267-4E0D-B467-D4C429A6D84A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  set tilde to path to home folder as text
  set myGithub to tilde &amp; "Development:github.com:seansu4you87:"
  set scriptPath to myGithub &amp; "geektools:reposition.scpt"

  set scriptToRun to (load script file scriptPath)
  run script scriptToRun

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>692101B6-6C97-459C-B00D-71877FF7870E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Geeklets Repositioned!</string>
				<key>title</key>
				<string>Geek</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CB77774B-D665-4663-B4D0-9729EDA0A890</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  set tilde to path to home folder as text
  set myGithub to tilde &amp; "Development:github.com:seansu4you87:"
  set scriptPath to myGithub &amp; "geektools:fnToggle.scpt"

  set scriptToRun to (load script file scriptPath)
  run script scriptToRun

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4F859874-4D58-47FE-9716-D97FDB8F0832</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fn</string>
				<key>subtext</key>
				<string>toggle Function keys</string>
				<key>text</key>
				<string>Function Keys Toggle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D9C4EE8-3869-498B-9854-2B65880D88B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D9C4EE8-3869-498B-9854-2B65880D88B6</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4F859874-4D58-47FE-9716-D97FDB8F0832</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>692101B6-6C97-459C-B00D-71877FF7870E</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C9DC0261-9267-4E0D-B467-D4C429A6D84A</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>CB77774B-D665-4663-B4D0-9729EDA0A890</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
