<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Winterbreak (Tiësto's Deep House Remix)</string>
	<key>artistName</key>
	<string>MUNA</string>
	<key>coverURL</key>
	<string>NA</string>
	<key>currentPosition</key>
	<string>229</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/piotr/Dropbox/Ubersicht/Playbox.Widget/Playbox.widget/lib/cover345.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>229</string>
	<key>songName</key>
	<string>Winterbreak - Tiësto's Deep House Remix</string>
</dict>
</plist>
